aiohttp
hachoir
Pillow
https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
requests
tgcrypto
asyncio
beautifulsoup4
youtube-dl
git+https://github.com/Team-DnO/Subscene-Subtitle-Grabber
git+https://github.com/Team-DnO/urlExpander
